{% extends "layout.html" %}
{% block title %}
    C. Simétrico
{% endblock %}
{% block content %}

<h1>Cifrado Simétrico AES y DES3</h1>

    <!-- Importación de claves/archivos -->

    <p>Subir archivos a almacenamiento del servidor</p>
    <form method=post enctype=multipart/form-data>
        <input type=file name=file>
        <input type="hidden" name="mode" value="upload">
        <input type=submit value=Upload>
    </form><br>

    <p>Subir clave simétrica a almacacenamiento remoto en servidor smb</p>
    <form method=post enctype=multipart/form-data>
        <input type=file name=file>
        <input type="hidden" name="mode" value="subirprivada">
        <input type=submit value=Upload>
    </form><br>

    <p>Subir mensaje cifrado a almacenamiento remoto en servidor smb</p>
    <form method=post enctype=multipart/form-data>
        <input type=file name=file>
        <input type="hidden" name="mode" value="subirencriptado">
        <input type=submit value=Upload>
    </form><br>

    <!-- Listado y descarga de claves -->

    <form method="post">
        <input type="hidden" name="mode" value="list_symmetric_keys">
        <input type="submit" value="Listar claves">
    </form><br>

    <!-- Listado y descarga de archivos -->

    <form method="post">
        <input type="hidden" name="mode" value="list_symmetric_messages">
        <input type="submit" value="Listar mensajes">
    </form><br>

    {% for file in list_button_key %}
        <!-- <p>{{ file }}</p> -->
        <a href="{{ url_for('download', file=file) }}"> {{ file }}</a><br><br>
    {% endfor %}

    {% for file in list_symmetric_key_samba %}
    <p>{{ file.filename }}</p>
    <form method="post">
        <input type="hidden" name="mode" value="descargarprivada">
        <!-- Cogemos los ficheros listados para poder descargarlos -->
        <input type="hidden" name="filename" value="{{ file.filename }}">
        <input type="submit" value="descargar">
    </form>
    {% endfor %}

    {% for file in list_button_message %}
    <!-- <p>{{ file }}</p> -->
    <a href="{{ url_for('download', file=file) }}"> {{ file }}</a><br><br>
    {% endfor %}

    {% for file in list_symmetric_message_samba %}
    <p>{{ file.filename }}</p>
    <form method="post">
        <input type="hidden" name="mode" value="descargarencriptados">
        <!-- Cogemos los ficheros listados para poder descargarlos -->
        <input type="hidden" name="filename" value="{{ file.filename }}">
        <input type="submit" value="descargar">
    </form>
    {% endfor %}

    <h2>Encriptar Mensaje AES</h2>
    <form method="post">
        <label for="message">Mensaje:</label><br>
        <input type="text" id="message" name="message"><br><br>
        <label for="message_name">Nombre del archivo del mensaje:</label><br>
        <input type="text" id="message_name" name="message_name"><br><br>
        <label for="key">Clave:</label><br>
        <input type="text" id="key" name="key"><br><br>
        <label for="key_name">Nombre del archivo de la clave:</label><br>
        <input type="text" id="key_name" name="key_name"><br><br>
        <input type="hidden" name="mode" value="encrypt_aes">
        <input type="submit" value="Encriptar">
    </form>

    <h2>Encriptar Mensaje DES3</h2>
    <form method="post">
        <label for="message">Mensaje:</label><br>
        <input type="text" id="message" name="message"><br><br>
        <label for="message_name">Nombre del archivo del mensaje:</label><br>
        <input type="text" id="message_name" name="message_name"><br><br>
        <label for="key">Clave (23 caracteres):</label><br>
        <input type="text" id="key" name="key"><br><br>
        <label for="key_name">Nombre del archivo de la clave:</label><br>
        <input type="text" id="key_name" name="key_name"><br><br>
        <input type="hidden" name="mode" value="encrypt_des3">
        <input type="submit" value="Encriptar">
    </form>

    {% if encrypted_message %}
        <!-- <h2>Mensaje Encriptado:</h2>
        <p>{{ encrypted_message }}</p> -->
        <p>El mensaje ha sido guardado en formato gpg</p>
    {% endif %} 

    <h2>Desencriptar Mensaje AES</h2>
    <form method="post">
        <label for="encrypted_message">Mensaje Encriptado:</label><br>
        <!-- <input type="text" id="encrypted_message" name="message"><br><br> -->
        <select id="encrypted_message" name="selection" method="POST">
            {% for file in list_symmetric_message %}
                <option value="{{file}}" SELECTED>{{file}}</option>"
            {% endfor %}
        </select><br><br>
        <label for="key_decrypt">Clave:</label><br>
        <!-- <input type="text" id="key_decrypt" name="key"><br><br> -->
        <select id="key_decrypt" name="key_select" method="POST">
            {% for file in list_symmetric_key %}
                <option value="{{file}}" SELECTED>{{file}}</option>"
            {% endfor %}
        </select><br><br>
        <input type="hidden" name="mode" value="decrypt_aes">
        <input type="submit" value="Desencriptar">
    </form>

    <h2>Desencriptar Mensaje DES3</h2>
    <form method="post">
        <label for="encrypted_message">Mensaje Encriptado:</label><br>
        <!-- <input type="text" id="encrypted_message" name="message"><br><br> -->
        <select id="encrypted_message" name="selection" method="POST">
            {% for file in list_symmetric_message %}
                <option value="{{file}}" SELECTED>{{file}}</option>"
            {% endfor %}
        </select><br><br>
        <label for="key_decrypt">Clave:</label><br>
        <!-- <input type="text" id="key_decrypt" name="key"><br><br> -->
        <select id="key_decrypt" name="key_select" method="POST">
            {% for file in list_symmetric_key %}
                <option value="{{file}}" SELECTED>{{file}}</option>"
            {% endfor %}
        </select><br><br>
        <input type="hidden" name="mode" value="decrypt_des3">
        <input type="submit" value="Desencriptar">
    </form>    
    {% if decrypted_message %}
        <h2>Mensaje:</h2>
        <p>{{ decrypted_message }}</p>
    {% endif %}
{% endblock %}