{% extends "layout.html" %}
{% block title %}
    Testing Asimetrico
{% endblock %}
{% block content %}


<h1>Cifrado Asimétrico</h1>

<!-- Importación y listado de claves/archivos -->

<form method=post enctype=multipart/form-data>
    <input type=file name=file>
    <input type="hidden" name="mode" value="upload">
    <input type=submit value=Upload>
</form>


<form method="post">
    <input type="hidden" name="mode" value="list">
    <input type="submit" value="Listar">
</form>


<form method="post">
    <input type="hidden" name="mode" value="import">
    <input type="submit" value="Importar">
</form>

{% if pu_key_pem %}
    <h2>Clave Publica Importada PEM:</h2>
    <p>{{ pu_key_pem }}</p>
{% endif %}

{% if pu_key %}
    <h2>Clave Publica Importada:</h2>
    <p>{{ pu_key }}</p>
{% endif %}

{% if pr_key_pem %}
    <h2>Clave Privada Importada PEM:</h2>
    <p>{{ pr_key_pem }}</p>
{% endif %}

{% if pr_key %}
    <h2>Clave Privada Importada:</h2>
    <p>{{ pr_key }}</p>
{% endif %}

<!-- Listado -->

{% for file in list_publickey %}
    <p>{{ file }}</p>
    <!-- <form method="post">
        <input type="hidden" name="mode" value="download">
        <input type="hidden" name="mode" value="download">
        <input type="submit" value="{{ file }}">
    </form> -->
    <a href="{{ url_for('download', file=file) }}"> {{ file }}</a>
{% endfor %}

<!-- Generar par de claves asimétricas -->

<h2>Generar Par de Claves</h2>
<form method="post">
    <label for="key_name">Nombre que será asociado al par de claves:</label><br>
    <input type="text" id="key_name" name="pem_name"><br><br>
    <input type="hidden" name="mode" value="generate">    
    <input type="submit" value="Generar">
</form>

{% if public_key %}
    <h2>Clave Publica:</h2>
    <p>{{ public_key }}</p>
{% endif %}

{% if private_key %}
    <h2>Clave Privada:</h2>
    <p>{{ private_key }}</p>
{% endif %}

{% if public_pem %}
    <h2>Clave Publica Pem:</h2>
    <p>{{ public_pem }}</p>
{% endif %}

{% if private_pem %}
    <h2>Clave Privada Pem:</h2>
    <p>{{ private_pem }}</p>
{% endif %}

<!-- Encriptación mensaje -->

<h2>Encriptar Mensaje</h2>
<form method="post">
    <label for="message">Mensaje:</label><br>
    <input type="text" id="message" name="message"><br><br>
    <label for="key">Clave:</label><br>
    <!-- <input type="text" id="key" name="pu_key"><br><br> -->
    <select id="key" name="selection" method="POST">
        {% for file in list_publickey %}
            <option value="{{file}}" SELECTED>{{file}}</option>"
        {% endfor %}
    </select><br><br>
    <input type="hidden" name="mode" value="encrypt">
    <input type="submit" value="Encriptar">
</form>

{% if cipher_text %}
    <h2>Mensaje Encriptado:</h2>
    <p>{{ cipher_text }}</p>
{% endif %}

{% if cipher_text_b64 %}
    <h2>Mensaje Encriptado B64:</h2>
    <p>{{ cipher_text_b64 }}</p>
{% endif %}

{% if name_only %}
    <h2>Nombre Only:</h2>
    <p>{{ name_only }}</p>
{% endif %}


<!-- Desencriptación memsaje -->

<h2>Desencriptar Mensaje</h2>
<form method="post">
    <label for="encrypted_message">Mensaje Encriptado:</label><br>
    <input type="text" id="encrypted_message" name="encrypted_message"><br><br>
    <!-- <label for="key_decrypt">Clave:</label><br>
    <input type="text" id="key_decrypt" name="key"><br><br>
    <select id="key_decrypt" name="selection" method="POST">
        {% for file in list_file %}
            <option value="{{file}}" SELECTED>{{file}}</option>"
        {% endfor %}
    </select><br><br> -->
    <input type="hidden" name="mode" value="decrypt">
    <input type="submit" value="Desencriptar">
</form>

{% if decipher_text %}
    <h2>Mensaje Desencriptado:</h2>
    <p>{{ decipher_text }}</p>
{% endif %}

{% if encrypted_message %}
    <h2>Mensaje Encriptado:</h2>
    <p>{{ encrypted_message }}</p>
{% endif %}

{% if encrypted_message_b64 %}
    <h2>Mensaje b64:</h2>
    <p>{{ encrypted_message_b64 }}</p>
{% endif %}

{% endblock %}